body{
	background: #e2e2e2!important;
}

.bg-primary
{
	background: rgb(0, 128, 128) !important;
}

.banner
{

	
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/banner.png);
	background-size: cover;
	width: 1500px;
    height: 715px;
    position: fixed;
	color:white;
}

.my-card
{
	padding:20px;
	background:#FFFFFF
}
